.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  width: 200px;
  height: auto;
  padding: 2px;
}

.navContainer > ul {
  display: flex;
  list-style: none;
  font-size: 24px;
}

.navContainer > ul > li {
  padding: 10px;
  margin: 10px;
}
.res-card {
  width: 200px;
  padding: 5px;
  margin: 5px;
  background-color: lightgray;
}
.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.search {
  padding: 10px;
}
.res-image {
  width: 100%;
  height: 200px;
}

.res-container {
  /* border: 1px solid gray; */
  display: flex;
  flex-wrap: wrap;
}
